{:deps    {aleph/aleph               {:mvn/version "0.7.0-alpha1"}
           cheshire/cheshire         {:mvn/version "5.12.0"}
           nrepl/nrepl               {:mvn/version "1.1.0-alpha1"}
           com.github.ivarref/yasp   {:local/root "/home/ire/code2/yasp"}
           org.clojure/tools.logging {:mvn/version "1.2.4"}
           org.slf4j/slf4j-simple    {:mvn/version "2.0.9"}}
 :paths   ["src"]

 :aliases {:generate-keys {:deps      {com.github.ivarref/locksmith {:mvn/version "0.1.6"}}
                           :exec-fn   com.github.ivarref.locksmith/write-certs!
                           :exec-args {:duration-days 365}}
           :server        {:exec-fn demo-server/run-server}
           :proxy         {:deps      {com.github.ivarref/yasp-client {:local/root "/home/ire/code2/yasp-client"}}
                           :exec-fn   com.github.ivarref.yasp-client/start-server!
                           :exec-args {:endpoint    "http://localhost:8080/proxy"
                                       :remote-host "127.0.0.1"
                                       :remote-port 7777
                                       :local-port  8888
                                       :tls-file    "client.keys"}}}}
